
<div class="cover">
    <h1 class="cover-heading">Welcome to Battleship</h1>
    <p class="lead">
        <img src="assets/images/ship-logo.png" width="300" alt=""><br><br>
        Battleship is a strategy type guessing game, player vs computer.
        <br> Press "New Game" to start.
    </p>
    <p class="lead">
        <a routerLink="/settings" class="btn btn-lg btn-primary">New Game</a>
        <a routerLink="/about" class="btn btn-lg btn-secondary">About the game</a>
    </p>

</div>